<!-- <h1 setBackground>This is App Component</h1> -->
<div class="container" setBackground appHover>
  <p>This is a demo HTML content to understand custom attribute directive in Angular.</p>
</div>

<div appHighlight appHover>
  <p>This is a demo HTML content to understand custom attribute directive in Angular.</p>
</div>

<div class="container" [appBetterhighlight]="'red'" [defaultColor]="'yellow'">
  <p>This is a demo HTML content to understand @HostBinding in Angular.</p>
</div>

<div [appClass]="{container: 10 > 5, 'change-font': true}">
  <p>This is a demo HTML content to understand how to create custom ngClass directive in Angular.</p>
</div>

<div class="container" [appStyle] ="{backgroundColor: active ? 'Green' : 'Red', color: 'white', fontWeight: 'bold'}">
  <p>This is a demo HTML content to understand how to create custom ngStyle directive in Angular.</p>
</div>